
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
    font-family: 'Rubik', sans-serif;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    background: #3c4555;
}

header {

}

header .error-bar {
    background: #3c4555;
    color: white;
    border-bottom: 2px solid white;
    text-align: center;
    padding: 1em 0;
    position: fixed;
    left: 0px;
    z-index: 99;
    width: 100%;
    transition: all 0.5s ease-out;
    height: 18px;
    line-height: 1em;
    top: -60px;
}

header .error-bar span {

}

/************ Home ************/
.buttons-container {
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: 32% 32% 32%;
    grid-template-rows: 100%;
    text-align: center;
    grid-gap: 3% 2%;
}

.buttons-container .main-button {
    color: white;
    font-size: 2rem;
    position: relative;
    cursor: pointer;
    transition: all 0.5s ease-out;
    display: grid;
    text-decoration: none;
}

.buttons-container .main-button:hover {
    opacity: 0.7;
}

.buttons-container .main-button > div {
    align-self: center;
    width: 100%;
}

.buttons-container .main-button > div span {
    color: black;
    font-size: 1rem;
    width: 100%;
    display: inline-block;
    margin: 2em auto 0px;
    font-weight: 400;
}

.buttons-container .main-button > div i {
    font-size: 3rem;
    margin: 0.6em auto 0px;
    color: white;
}

.blue-background {
    background: #53c9ee;
}

.yellow-background{
    background: #fac469;
}

.red-background {
    background: #f97f74;
}


/************ Joystick ************/
.joystick-container {
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: 32% 32% 32%;
    grid-template-rows: 32% 32% 32%;
    text-align: center;
    grid-gap: 2% 2%;
}

.joystick-container .joystick-button {
    color: white;
    font-size: 4rem;
    position: relative;
    cursor: pointer;
    transition: all 0.5s ease-out;
    display: grid;
    background: #53c9ee;
}

.joystick-container #joystick-stop-button {
    background: #f97f74;
}


.joystick-container #joystick-button1,
.joystick-container #joystick-button3,
.joystick-container #joystick-button6,
.joystick-container #joystick-button8 {
    background: #fac469;
}

.joystick-container .joystick-button:hover {
    opacity: 0.7;
}

.joystick-container .joystick-button > i {
    align-self: center;
    width: 100%;
}

.joystick-container #joystick-button1 i {
    transform: rotate(-45deg);
}

.joystick-container #joystick-button3 i {
    transform: rotate(45deg);
}

.joystick-container #joystick-button6 i {
    transform: rotate(45deg);
}

.joystick-container #joystick-button8 i {
    transform: rotate(-45deg);
}

/************ Debugger ************/
.debugger-icon{
    background: black;
    position: fixed;
    color: white;
    border-radius: 50%;
    bottom: 10px;
    left: 10px;
    text-align: center;
    padding: 10px 10px;
    cursor: pointer;
}

/************ Logs ************/
.log-container {
    background: black;
    height: 100vh;
    color: #01ff5c;
    overflow: auto;
}

.log-container hr {
    border-color: red;
    margin: 14px 0px;
}

@media (max-width: 900px) {
    /************ Home ************/
    .buttons-container {
        grid-template-columns: 100%;
        grid-gap: 2% 4%;
        grid-template-rows: 33% 33% 33%;
    }

    .buttons-container .main-button {
        font-size: 1.4rem;
    }

    .buttons-container .main-button > div {
        top: 14%;
    }

    .buttons-container .main-button > div span {
        height: 30px;
        font-size: 0.8rem;
    }
}

@media (max-width: 420px) {
    /************ Home ************/
    .buttons-container .main-button {
        font-size: 1rem;
    }

    .buttons-container .main-button > div {
        top: 24%;
    }

    .buttons-container .main-button > div span {
        display: none;
    }

    .buttons-container .main-button > div i {
        font-size: 2rem;
        width: 100%;
    }
}